<p id="notice"><%= notice %></p>

<p>
  <strong>English:</strong>
  <%= @phrase.english %>
</p>

<p>
  <strong>Spanish:</strong>
  <%= @phrase.spanish %>
</p>

<p>
  <strong>Mp3:</strong>
  <%= @phrase.mp3 %>
</p>

<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
